html, body {
    height: 100%;
    margin: 0;
}

body {
    font-size: 16px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    display: inline;
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color:rgb(255, 255, 255);
}

.center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;         
    height: 100vh;     
    flex-direction: column;
    gap: 10px;          
    margin: 0 auto;
    width: 200px;
}

.Title, .social-links {
    /* margin: 0;
    padding: 0; */
    flex-direction: column;
    justify-content: center;     
    align-items: center;         
    flex-direction: column;
    /* gap: 10px;           */
    flex-direction: row;
    position: absolute;
    margin-right: 290px;
    white-space: nowrap;
}

.JD, .DevName {
    text-align: center;
    
}

.DevName {
    font-size: 4rem;
    
}

.JD {
    font-size: 1.25rem;
}

.social-links {
    display: block;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 0vh;
    gap: 15px;
    margin-top: 300px;
}

.teal-text{
    color: rgb(48, 201, 201);
}

.btn-social-links {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    white-space: nowrap;
    min-width: fit-content;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}